html {
    background-image: url(../pictures/vinyl.jpg);
    background-size: cover;
}

body {
    color: #000000;
}

.cover-main {
    max-width: 250px;
    height: auto;
}

.detail-cover {
    max-width: 300pt;
    height: auto;
    float: left;
}

.detail-text {
    font-size: 24;
    padding: 15pt;
    background-color: rgba(121, 121, 121, 0.7);
    background-size: 100% 8%;
    margin-right: 2%;
    margin-left: 30%;
}

p, header, h1, div {
    font-family: Helvetica, Times, serif;
}

.vinyls-main {
    padding: 15px 7%;
    margin: 5px 5%;
    font-size: 18px;
}

.main-right {
    text-align: right;
    padding: 15pt 5pt 15pt 7%;
    background-color: rgba(121, 121, 121, 0.7);
    background-size: 100% 8%;
    border: 3px groove #3F3F3F;
}

ol {
    padding: 15pt 5pt 15pt 7%;
    background-color: rgba(121, 121, 121, 0.7);
    background-size: 100% 8%;
    border: 3px groove #3F3F3F;
}

.main-left {
    float: left;
    padding: 44pt 0% 15pt 5pt;
}

h1.detail-title {
    font-size: 50pt;
    text-align: center;
    padding: 15pt 5pt 15pt 7%;
    background-color: rgba(121, 121, 121, 0.7);
    background-size: 100% 8%;
    border: 3px groove #3F3F3F;
}

img.img-left {
    float: left;
}

img.img-right {
    clear: right;
}

.text-left {
    float: right;
    margin-left: 5pt;
}

form {
    padding: 15pt;
    margin: 20pt 30%;
    background-color: rgba(121, 121, 121, 0.7);
    background-size: 100% 8%;
    border: 3px groove #3F3F3F;
}

legend {
    font-size: 20pt;
}

.error {
    color: red;
    float: right;
}

.form-label {
    font-size: 15pt;
    float: left;
    clear: left;
}

.form-field {
    float: right;
    width: 200pt;
    margin-right: 35%;
}

.form-field.form-field-error {
    border-width: 2pt;
    border-color: red;
}

.btn {
    margin-left: 3px;
}

.reg-small, .sign-small {
    margin-left: 30%;
    color: #D3D3D3FF;
}

a {
    text-decoration: none;
}

a.record-name {
    color: black;
}

a.reg-sign, a.sign-reg {
    color: #B2B2B2;
}

header {
    color: #5F5F5F;
    padding: 25px;
    text-align: center;
    font-size: 35px;
    position: relative;
}

nav {
    font-family: Rockwell, Times New Roman, serif;
    font-size: 20px;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

.add-cart {
    text-decoration: none;
    float: right;
    font-size: 12pt;
    font-color: orange;
}

nav a {
    margin-right: 10px;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

nav a:hover {
    background-color: #5C5C5C;
}

nav a.current {
    background-color: #808080;
}

.flash {
    font-size: 25;
    text-align: center;
    padding: 5pt 40pt;
    margin: 0 20%;
    background-color: #DDDDDDFF;
    border-style: groove;
    border-color: black;
    border-width: 2pt;
}

.flash-success {
        color: green;
}

.flash-error {
        color: red;
}